/** thème clair **/
$text-color:#091F43;//rgb(9,31,67)
$action-color:#D1515A;//rgb(209,81,90)
$bg-color:#FFF;//rgb(255,255,255)

/**thème sombre : **/
$text-color:#FFF;
$action-color:#D1515A;
$bg-color:#091F43;
